html {
    font-size: 43%;
}

h1 {
    margin: 20px 0 10px 0;
    line-height: 1.5;
}

main {
    flex-direction: column;

}

section.right, section.left {
    width: 100%;
    height: 160px;
}

@media (max-width:330px) {
    html {
        font-size: 37%;
    }

    h1 {
        margin: 10px 0 5px 0;
        line-height: 1.3;
    }

    main {
        flex-direction: column;

    }

    section.right, section.left {
        width: 100%;
        height: 130px;
    }
}